.brand__card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 22rem;
    height: 30rem;
    border-radius: 10px;
    border: 3px solid var(--color-third);
    overflow: hidden;
    background-color: var(--color-fourt);
}

