.list__detail {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40rem;
    height: 50rem;
    border: 2px solid var(--color-third);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color-fourt);
}

.list__detail div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 40rem;
    height: 22rem;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    width: 50%;
    height: 100%;
    list-style-type: none;
}

ul:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
    width: 50%;
    height: 100%;
    list-style-type: none;
}

li {
    padding: 1rem;
    width: 100%;
    border-bottom: 2px solid var(--color-third);

}

.list__detail p {
    font-size: 2rem;
    color: var(--color-secundary);
    text-transform: capitalize;
    text-decoration: none;
}

.list__detail div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 6rem;
}

.buyer__link {
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-fourt);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: var(--color-third);
}