.content__brand {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: calc(100vh - 14rem);
    max-height: calc(100vh - 14rem);
}