.layout__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.5rem 3rem;
    width: 100%;
    height: 7rem;
    max-height: 7rem;
    border-bottom: 1px solid var(--color-third);
}

.header__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-secundary);
    text-transform: uppercase;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

.header__title:hover {
    color: var(--color-third);
}

.header__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    width: auto;
    height: 100%;
}

.navbar__link {
    position: relative;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--color-secundary);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}

.navbar__link:hover {
    color: var(--color-third);
}

.navbar__link::before {
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--color-third);
    transition: all 300ms ease-in-out;
}

.navbar__link:hover::before {
    width: 100%;
}

.navbar__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0.7rem 1.5rem;
    font-size: 1.7rem;
    color: var(--color-secundary);
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--color-fourt);
    transition: 400ms ease-in-out;
}

.navbar__cart:hover {
    color: var(--color-fourt);
    background-color: var(--color-third);
}